#root {
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.contact-node {
  margin-left: 20px;
  font-size: 12px;
}
.white_color {
  font-weight: 500;
  color: #a0a0a0;
}
.white_color:hover {
  font-weight: 500;
  color: #eee;
  cursor: pointer;
}
.grey_color {
  font-weight: 500;
  color: #545454;
}
.grey_color:hover {
  font-weight: 500;
  color: #545454;
}
li {
  font-size: 13px;
}
ul {
  margin: 11.5px;
}

.tooltip {
  position: relative;
}

.tooltip-content {
  position: absolute;
  background-color: #000;
  text-align: center;
  color: #fff;
  transform: translateX(-50%);
  white-space: nowrap;
  border-radius: 4px;
  padding: 6px 10px;
}

.tooltip-content:before {
  content: "";
  position: absolute;
}

/* POSITION TOP */
.tooltip-content.bottom {
  top: 100%;
  left: 50%;
  margin-top: 10px;
}
.language:hover {
  cursor: pointer;
}
.language {
  color: grey;
}
.text {
  color: white;
}

@media (prefers-color-scheme: light) {
  .text {
    color: black !important;
  }
  .language {
    color: #eeeeee;
  }
}
